################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureFunctions/AzureStorage.Tests/LocalCommisioningTests.cs
